* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

.wrap {
	width: 58.3333vw;
	margin: 0 auto;
	/* border: 1px solid black; */
}

.slide_wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 15.625vw;
	overflow: hidden;

	/* border: 1px solid red; */
}

.slides {
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 100%;
}

.slides.animated {
	transition: 0.5s ease-out;
}

.slides div {
	width: 10.4166vw;
	height: 15.625vw;
	/* background: #ccc; */
	float: left;

	/* border: 1px solid gray; */
}

.slides div:not(:last-child) {
	margin-right: 1.546vw;
}

.slides div p {
	margin-top: 0.5208vw;
}

.slides div p:nth-child(2) {
	font-weight: 600;
	font-size: 1.0416vw;
}

.slides div p:nth-child(3) {
	font-size: 0.8vw;
}

.slides img {
	width: 10.4166vw;
	height: 10.4166vw;
	border-radius: 50%;
}

.controls {
	text-align: center;
	margin-top: 50px;
}

.controls span {
	background: #333;
	color: #fff;
	padding: 10px 20px;
	margin: 0 10px;
}